@{
    ViewBag.Title = "Theme Park Management System";
}

<div class="jumbotron">
    <h1>Theme Park Management System</h1>
    <p class="lead">Group 11 - Matthew Potter, Jeffery Pernia, Diego Perez, Brandon Le, Joby Santhosh</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Rides</h2>
        <p>Short rides report</p>
    </div>
    <div class="col-md-3">
        <h2>Shops</h2>
        <p>Short shops report</p>
    </div>
    <div class="col-md-3">
        <h2>Staff</h2>
        <p>Short staff report</p>
    </div>
    <div class="col-md-3">
        <h2>Guests</h2>
        <p>Short guests report</p>
    </div>
</div>